* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* header de la pagina */
header {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header img {
    height: 2.5vh;  
}

header .user_image {
    border: 0.1rem solid transparent;
    border-radius: 100rem;
    height: 4vh;
}

header picture {
    border: 0.1rem solid transparent;
    border-radius: 1rem;
}

header picture, header div {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* cuerpo principal de la pagina */
main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.company_logo img {
    width: 40vw;
}

.search_bar {
    display: flex;
    width: 70vw;
    height: 5vh;
    border: 0.1rem solid lightgray;
    border-radius: 1000rem;
    justify-content: center;
    align-items: center;
}

.search_bar img {
    height: 2.5vh;
}
.search_bar span {
    width: 65vw;
}

.search_buttoms {
    display: flex;
    width: 70vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.search_buttoms span {
    display: flex;
    background-color: lightgray;
    height: inherit;
    margin: 0.5vh;
    width: 10vw;
    border: 0.1rem solid lightgray;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    

/* footer de la pagina */
footer{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.containers_footer {
    display: flex;
}

.containers_footer p {
    margin-left: 1rem;
    margin-right: 1rem;
}