* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 1.3rem;
}
/* header de la pagina */
header{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header nav .nav_right_section{
    width: 25rem;
    display: flex;
    height: auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav_right_section a {
    margin-right: 1rem;
    color: black;
}

.nav_right_section a:hover{
    text-decoration: underline;
}

nav .nav_right_section .menu_icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav_right_section .menu_icon:hover {
    background-color: #f0f0f0;
}

nav .nav_right_section img {
    border-radius: 50%;
    margin-left: 1rem;
}


/* cuerpo principal de la pagina */

main {
    margin-top: 15rem;
    text-align: center;
}

.company_logo {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.company_logo img {
    width: 30rem;
}

.search_bar {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.search_bar_container {
    width: 52.5rem;
    border-radius: 10rem;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .search_bar_container input {
    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;
}

main .search_bar_container:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}


main .search_icon {
    background-image:url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 0.4;
}

main .voice_icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}


.search_buttoms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
    height: 3.4rem;
}

.search_buttoms div {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0 1.6rem;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 0.4rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_buttoms button {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.search_buttoms div:hover {
    border: 0.1rem solid #dadce0;
    color: #222;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 87%);
  
}

/* footer de la pagina */
footer{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    border: 0.1rem solid #dadce0;
}

.containers_footer {
    display: flex;
    list-style-type: none;
}

.containers_footer a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}

.containers_footer a:hover {
    text-decoration: underline;
}